affine==2.4.0
attrs==26.1.0
boto3==1.42.91
botocore==1.42.91
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
cligj==0.7.2
idna==3.11
jmespath==1.1.0
numpy==2.4.4
packaging==26.1
pillow==12.2.0
pygrib==2.1.8
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
rasterio==1.5.0
requests==2.33.1
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.3
